.tela{
    display: flex;
    width:100vw;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.caixa-botao{
    display: flex;
    width:80vw;
    padding: 10px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.botao{
    display: flex;
    outline: none;
    border: none;
    background-color: #00bfff;
    color: white;
    padding: 10px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}